.category{
    padding: 1% 25%;
    // .menu-wrap{
    //    // border-top: 1px solid #497F7C;
    //   //  border-bottom: 1px solid #7DE0DA;
    // }
    .menulink{
        padding:5px;
        font-size: 18px;
        cursor: pointer;
        text-decoration:none;
        transition: all .3s; 
            &:hover{
            transform: translateY(5%);
            }
    }
}

.title-products{
    background-image: url(https://images.unsplash.com/photo-1493946947703-a0e68b050bee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    color:#fff;
    padding: 12%;
    h1{
        font-size:56px;
        animation: fadein 2s;
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
         -ms-animation: fadein 2s; /* Internet Explorer */
          -o-animation: fadein 2s; /* Opera < 12.1 */
    }
    p{
        font-size:23px;
        animation: fadein 3s;
        -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 3s; /* Firefox < 16 */
         -ms-animation: fadein 3s; /* Internet Explorer */
          -o-animation: fadein 3s; /* Opera < 12.1 */
    }
}

.active{
    transform: translateY(5%);
    color:#CB4335
}

.products{
    padding: 2% 25% 0 25%;
    .card{
        border: none;
        overflow: hidden;
        cursor: pointer;
        transition: all 1s ease-out;
        padding:0;
        margin-right:20px;
        flex: 0 0 30.33333%;
        max-width: 30.33333%;
        &:hover{
            box-shadow: 0px 0px 15px 3px rgba(171,171,171,1); 
            .card-body{
                transform:scale(1.1);
            }
        }
        .card-body{
            transition: all 1s ease-out;
        }
        .card-img{
            width: 100%;
            border-radius: calc(.25rem - 1px);
            min-width: 200px;
            min-height: 200px;   
            transition: all 1s ease-out;
            &:hover{
                transform:scale(1.1);
            }
        }

    }
}

@media (max-width:816px){
    .category{
        display:none;
    }
    .products{
        padding: 2%;
        .card{
            max-width:90%;
            flex:90%;
            margin-right:0;
        }
    }
}
